/* You can add global styles to this file, and also import other style files */

body {
    margin: 3px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffffff;
    cursor: pointer;
}

input {
    padding: 0;
}